<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.boardMapper">
	<!-- 게시판에서 작성한 제목과 내용을 #{}파라미터로 받아서 값으로 넣어주기 -->
	<insert id="insert" parameterType="board">
		INSERT INTO POST(
		P_ID
		,P_TITLE
		,P_CONTENT
		,MEMBER_ID
		,P_CHECK
		,P_IMG
		,P_THUMBIMG)
		VALUES(
		MP_POST_SEQ.NEXTVAL
		,#{p_title}
		,#{p_content}
		,#{member_id}
		,#{p_check}
		,#{boardImg}
		,#{boardThumbImg}
		)
	</insert>

	<!-- 작성한 게시판의 내용을 select로 불러와서 boardVO객체타입으로 불러오기 -->
	<!-- <select id="writeList" resultType="board"> SELECT POST_ID,POST_TITLE,POST_CONTENT,POST_TIME,MEMBER_ID 
		FROM POST ORDER BY POST_ID DESC </select> -->

	<select id="post" parameterType="int" resultType="board">
		SELECT P_ID,P_TITLE,P_CONTENT,P_TIME,MEMBER_ID,P_VIEW FROM POST WHERE
		P_ID=#{p_id}
	</select>
	<update id="update" parameterType="board">
		UPDATE POST
		SET P_TITLE=#{p_title},P_CONTENT=#{p_content}
		WHERE P_ID=#{p_id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM POST WHERE P_ID=#{p_id}
	</delete>
	<select id="listPage"  resultType="board" parameterType="pagination">
		SELECT
			P_ID,
			P_TITLE,
			P_CONTENT,
			MEMBER_ID,
			P_TIME,
			P_VIEW		
		FROM (
				SELECT P_ID,
				P_TITLE,
				P_CONTENT,
				MEMBER_ID,
				P_TIME,
				P_VIEW,
				ROW_NUMBER() OVER(ORDER BY P_ID DESC) AS RNUM
				FROM POST
				) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY P_ID DESC
		<!-- 쿼리문 문제 없음 -->
	</select>
	<select id="listCount" resultType="int">
	<![CDATA[
		SELECT COUNT(P_ID)
		  FROM POST
		 WHERE P_ID > 0
	]]>
	</select>
	<update id="view" parameterType="board">
		UPDATE POST SET P_VIEW = P_VIEW + 1 WHERE P_ID =#{p_id}
	</update>
	<insert id="recommInsert" parameterType="recomm" >
		INSERT INTO RECOMM(
		POST_ID,MEMBER_ID,RECOMM)
		VALUES(#{post_id},#{member_id},#{recomm})
	</insert>
	<select id="rcount" resultType="int" parameterType="recomm">
		SELECT COUNT(RECOMM) AS RCOUNT FROM RECOMM 
		<if test="recomm != null">
			 WHERE MEMBER_ID=#{member_id} AND POST_ID = #{post_id} AND RECOMM='Y'
		</if> 
		<if test="recomm ==null">
			WHERE POST_ID IN (SELECT P_ID FROM POST WHERE MEMBER_ID = #{member_id})
		</if>
	</select>
	<select id="countMember" parameterType="int" resultType="int">
		SELECT COUNT(P_ID) FROM POST WHERE MEMBER_ID=#{member_id}
	</select>
	<select id="secretBoard" resultType="board" parameterType="int">
		
        SELECT
			P_ID,
			P_TITLE,
			P_CONTENT,
			MEMBER_ID,
			P_TIME,
			P_VIEW		
		FROM (
				SELECT P_ID,
				P_TITLE,
				P_CONTENT,
				MEMBER_ID,
				P_TIME,
				P_VIEW,
                P_CHECK,
				ROW_NUMBER() OVER(ORDER BY P_ID DESC) AS RNUM
				FROM POST WHERE P_CHECK ='1'
				) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY P_ID DESC
	</select>
	<select id="recommCheck" parameterType="recomm" resultType="recomm"><!-- string으로 설정햇을 때 스트링객체안에 getter가 없어서 쓸 수없오 map으로 묶어써야함 -->
	SELECT RECOMM FROM RECOMM WHERE POST_ID = #{post_id} AND MEMBER_ID=#{member_id}
	</select>
	<update id="recommUpdate" parameterType="recomm" >
		UPDATE RECOMM SET RECOMM = #{recomm} WHERE POST_ID=#{post_id} AND MEMBER_ID=#{member_id}
	</update>
	<select id="levelTest" parameterType="int" resultType="board">
		 
	</select>
	<delete id="recommDelete" parameterType="int">
		DELETE FROM RECOMM WHERE POST_ID=#{post_id}
	</delete>
	<select id="mainBoard" resultType="board">
		SELECT P_ID,P_TITLE,P_CONTENT FROM POST WHERE P_ID =5
	</select>
</mapper>