<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.boardMapper">
<!-- 게시판에서 작성한 제목과 내용을 #{}파라미터로 받아서 값으로 넣어주기 -->
   <insert id="insert" parameterType="board">
   		INSERT INTO POST(
   			POST_ID
   			,POST_TITLE
   			,POST_CONTENT
   			,MEMBER_ID			)
   			VALUES(
   				MP_POST_SEQ.NEXTVAL
   				,#{post_title}
   				,#{post_content}
   				,10
   			)
   </insert>
   
   	<!-- 작성한 게시판의 내용을 select로 불러와서 boardVO객체타입으로 불러오기 -->
   	<select id="writeList" resultType="board">
   		SELECT POST_ID,POST_TITLE,POST_CONTENT,POST_TIME,MEMBER_ID FROM POST ORDER BY POST_ID
   </select>
  
   <select id="post" parameterType="int" resultType="board">
   		SELECT POST_ID,POST_TITLE,POST_CONTENT,POST_TIME,MEMBER_ID FROM POST WHERE POST_ID=#{post_id}
   </select>
   <update id="update" parameterType="board">
   		UPDATE POST 
   		SET POST_TITLE=#{post_title},POST_CONTENT=#{post_content} 
   		WHERE POST_ID=#{post_id}
   </update>
   <delete id="delete" parameterType="int">
   		DELETE FROM POST WHERE POST_ID=#{post_id}
   </delete>
</mapper>