<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="brandMapper">
   
<!-- 카테고리 호출 -->
<select id="brand" resultType="com.project.car.vo.BrandVo">
 select
  	brandId, brandName
 from brand
</select>
</mapper>