<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.newsMapper">

<resultMap type="news" id="fullnewsInfo">
	<id column="NEWS_ID" property="news_Id"/>
	<result column="NEWS_TITLE" property="news_Title"/>
	<result column="NEWS_CONTENT" property="news_Content"/>
	<result column="NEWS_URL" property="news_Url"/>
	<result column="NEWS_IMG" property="news_Img"/>
</resultMap>

<select id="getOneNews" parameterType="_int" resultMap="fullnewsInfo">
SELECT * FROM NEWS WHERE NEWS_ID = #{news_Id}
</select>

<select id="getNews" parameterType="news" resultMap="fullnewsInfo">
SELECT * FROM NEWS
</select>

<select id="getnewsCount" parameterType="_int" resultMap="_int">
SELECT NEWS_ID FROM NEWS WHERE NEWS_COUNT = #{news_Count} > 99
</select>

</mapper>