<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.wishlistMapper">

<resultMap type="wishlist" id="checkWish">
	<result column="MEMBER_ID" property="member_id"/>
	<result column="CAR_ID" property="car_id"/>
</resultMap>

<resultMap type="car" id="Allwish">
	<result column="CAR_IMG" property="car_Img"/>
	<result column="CAR_NAME" property="car_Name"/>
</resultMap>

<insert id="inputwish" parameterType="wishlist">
INSERT INTO WISHLIST(
	MEMBER_ID,
	CAR_ID)
VALUES (
	#{member_id},
	#{car_id} 
	)
</insert>

<select id="selectCheckwish" parameterType="wishlist" resultMap="checkWish">
SELECT 
	W.MEMBER_ID,
	W.CAR_ID
FROM
	WISHLIST W INNER JOIN CAR C ON W.CAR_ID = C.CAR_ID
	INNER JOIN MEMBER M ON M.MEMBER_ID = W.MEMBER_ID
WHERE
	W.MEMBER_ID = #{member_id} AND
	W.CAR_ID = #{car_id} 
</select>

<select id="selectAllwish" parameterType="int" resultMap="Allwish">
SELECT
    C.CAR_IMG, C.CAR_NAME, C.CAR_ID
FROM 
    WISHLIST W INNER JOIN CAR C
ON 
    W.CAR_ID = C.CAR_ID
WHERE
    W.MEMBER_ID = #{member_id}
</select>

<delete id="delwish" parameterType="wishlist">
DELETE
FROM WISHLIST
WHERE CAR_ID = ( SELECT W.CAR_ID FROM WISHLIST W INNER JOIN CAR C ON W.CAR_ID = C.CAR_ID WHERE w.car_id=#{car_id}) AND
      MEMBER_ID = (SELECT DISTINCT W.MEMBER_ID FROM WISHLIST W INNER JOIN MEMBER M ON W.MEMBER_ID = M.MEMBER_ID WHERE w.member_id=#{member_id})
</delete>

</mapper>